{% extends 'base.html' %}

{% block title  %}

{% endblock  %}

{% block lead  %}
{{ username }} 님 어떤 장르를 가장 좋아하시나요?
{% endblock  %}

{% block main_body  %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for genre in genres %}
  <div class="col">
    <div class="card mb-4">
      <img src="{{genre.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: xx-large;">{{genre.name}}</h5>
        <form action="/genre_choice" method="post">
          <input type="hidden" name="username" value="{{username}}" />
          <button type="submit" class="btn btn-light float-right" name="genre" value="{{genre.genre}}"
              style="font-size: 32px;
              font-weight: 500;
              background-color: white;
              border-width: 0;
              padding-right: inherit;">→</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock  %}
